<div class="row" ng-controller="itemController">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Add Prescription Items</h4>
                <p class="category">Item Info</p>
            </div>
            <div class="card-content">

                <div class="row">
                    <div class="col-md-2">
                        <a href="#!/prescription"><button  class="btn btn-default pull-left"> Back
                        </button></a>
                    </div>
                    <div class="col-md-10">
                        <button class="btn btn-default pull-right" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">+
                        </button>
                    </div>
                </div>
                <form class="w3-container">
                    <div class="row">
                        <div class="collapse" id="collapseExample" aria-expanded="false">
                            <br/>
                            <div class="col-md-2">
                                <input class="w3-input w3-border w3-rest"  type="text" placeholder="Drug Name" ng-model="newItem.drugName">
                            </div>

                            <div class="col-md-2">
                                <input class="w3-input w3-border w3-rest" type="text" placeholder="Qty" ng-model="newItem.quantity">
                            </div>

                            <div class="col-md-2">
                                <input class="w3-input w3-border w3-rest" type="text" placeholder="Dose" ng-model="newItem.dose">
                            </div>

                            <div class="col-md-2">
                                <input class="w3-input w3-border w3-rest"  type="text" placeholder="Period" ng-model="newItem.period">
                            </div>

                            <div class="col-md-2">
                                <input class="w3-input w3-border w3-rest"  type="text" placeholder="Frequency" ng-model="newItem.frequency">
                            </div>

                            <div class="col-md-2">
                                <div class="w3-col" style="text-align: right">
                                    <button class="w3-btn w3-green pull-right" ng-click="addPrescriptionItems(prescription._id)">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="w3-container">
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Quantity</th>
                                    <th>Dose</th>
                                    <th>Period</th>
                                    <th>Frequency</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="prescriptionItem in prescriptionItem">
                                    <td>{{prescriptionItem.drugName}}</td>
                                    <td>{{prescriptionItem.quantity}}</td>
                                    <td>{{prescriptionItem.dose}}</td>
                                    <td>{{prescriptionItem.period}}</td>
                                    <td>{{prescriptionItem.frequency}}</td>
                                    <td><button class="w3-btn w3-green">Delete</button></td>

                                    <!--<tr ng-repeat="driver in drivers">
                                <td>{{item.ranking}}</td>
                                <td>{{item.firstName}}</td>
                                <td>{{item.lastName}}</td>
                                <td>{{item.birthday}}</td>
                                <td>{{item.vehicle}}</td>
                                <td><a ng-href="comments/{{driver._id}}">Open</a></td>
                            </tr>-->
                                <tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>